.like-container {
	display: flex;
	align-items: center;
	border-top: 1px solid #363636;
	border-bottom: 1px solid #363636;
}

#home .like-container {
	border: none;
}

.like-container svg {
	font-size: 1.5em;
	cursor: pointer;
}

.like-container p {
	margin-left: 1em;
}
